# Auto detect text files and perform LF normalization
* text=auto

# Never line-ending-normalize media
*.mp4  binary
*.mov  binary
*.webm binary
*.jpg  binary
*.jpeg binary
*.png  binary
*.webp binary
*.gif  binary
